body {
    background-color: linen;
    margin: 0;
  }
  
  h1 {
    color: orange;
    margin-left: 40px;
  }
  .input_video {
    display: none;
  }
  .landmark-grid-container {
    display: none;
  }
  #info {
    /* display: none; */
    text-align: center;
    /* color: red; */
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #shout {
    display: none;
    position: absolute;
    top:100px;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #ending {
    z-index: 99;
    display: none;
    position: absolute;
    top:0;
    left: 0;
    padding-top: 300px;
    text-align: center;
    color: black;
    font-size: 100px;       
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;      
    background-color: azure;
    background-size: cover;  
    /* background-image: url("heart_4x3.jpg"); */
  }
  #ending p {
    font-size: 60px;  
  }